.quizforumContaine {
  display: flex;
}
.quizinfocontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
  padding: 10px;
  align-items: center;
}
.headercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 50px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}

.questions-container {
  border: 1px solid rgb(209, 204, 204);
  min-width: 500px;
  min-height: 55vh;
  padding: 50px;
  overflow-y: auto;
}
svg{
  cursor: pointer;
}